html {
    min-height: 100%;
}
body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#board {
    /* background-color: darkblue; */

    background-image: url('./image/spacebg.png');
    /* background-size: cover; */
    /* animation: movebg 3s infinite linear; */
}

@keyframes movebg {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 100%;
    }
}
